[submodule "imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Detours"]
	path = vendor/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
