[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
